---
layout: archive
title: "Advising"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<p>I am proud to help advise a number of students at Emory and elsewhere. Find below list of students whose dissertations or research projects I am advising or have advised. (*if chair or equivalent, otherwise committee member)<br>




<p> Graduate students
<ul>
<li> <a href="https://pearceedwards.com/">Pearce Edwards</a> (Emory, 2021), Postdoctoral fellow at Carnegie Mellon University, Assistant Professor at Louisiana State University</li>
<li>Patrick Pearson (Emory, 2022), Boston Consulting Group</li>
<li><a href="https://donaldgrasse.github.io/">Don Grasse</a> (Emory, 2022), Postdoctoral fellow at the University of Southern California, City of Chicago</li>
<li> <a href="https://danielschiff.com/Daniel">Daniel Schiff</a> (Georgia Tech, 2022), J.P. Morgan, Assistant Professor at Purdue University</li>
<li> <a href="https://www.jacobrturner.com/">Jacob Turner</a> (Notre Dame, 2024), Postdoctoral researcher at the Dove Human Development and Violence Research Centre </li>
<li><a href="https://hsuyuminwang.com/"> Hsu Ymin Wang</a> (Emory, 2024), Assistant Professor at the Taipei School of Economics and Political Science, National Tsing Hua University </li>
<li>Sinisa Miric (PhD candidate)</li>
<li><a href="hhttps://eddy-yeung.github.io/"> Eddy Yeung</a> (PhD candidate)</li>
<li> <a href="https://www.bradleyoerickson.com/"> Bradley O. Erickson  </a> (pre-candidacy advising)</li>
<li> <a href="https://polisci.emory.edu/home/graduate/graduate-student-bio/Lyu-Hao.html"> Hao Lyu</a> (pre-candidacy advising)</li>
  <li> <a href="https://polisci.emory.edu/home/people/graduate-students.html"> Zeyu Li</a> (pre-candidacy advising)</li>
   <li> <a href="https://polisci.ucla.edu/person/rachel-berwald/"> Rachel Berwald</a> (UCLA)</li>
</ul>

Undergraduate students

<ul>
<li>Hannah Shepard-Moore* (Honor's thesis)</li>
<li>Aleksei Kaminski (Honor's thesis)</li>
<li>Lianne Anderson* (CLSS research)</li>
<li>Will Dinneen* (independent undergraduate research)</li>
<li>Jackson Schneider* (independent study)</li>
</ul>
