---
layout: archive
title: "Book project"
permalink: /portfolio-2/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<body>
	<h1>Public money, private organizations: the distributive politics of NGOs</h1>

	<p>Why do governments delegate welfare provision to nonstate organizations? In several emerging welfare states, as the state grows, so do nongovernmental organizations. Rather than being a symptom of weak governance or an apparent solution to government inefficiency, funding private charities to provide public services is a tactic that governments deliberately deploy to engender electoral support. Furthermore, delegation is also a consequence of connections between NGO and government staff that create channels of information that favor connected nonstate organizations. I examine these claims using original, fine-grained data from Brazil and a multi-method approach.</p>
	<h3>Awards:</h3>
	<ul>
		<li>2019 Harold D. Lasswell Award for best dissertation in the field of public policy</li>
		<li>2018 James G. March award by Yale's Political Science department.</li>
	</ul>
</body>

